/* Fuentes importadas de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz, wght@6..12, 300 &display=swap");
/*font-family: 'Nunito Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/*font-family: 'Lato', sans-serif;*/


/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#btn-mas {
  display: none;
}
.cont {
  position: fixed;
  bottom: 2vh;
  right: 10vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.redes a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #15d6c0;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(1, 64, 68, 0.214);
  transition: all 500ms ease;
}
.redes a:hover {
  background: #fff;
  color: #0aeac5;
}
.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  cursor: pointer;
  background: #1ac7fb;
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label {
  transform: rotate(135deg);
  font-size: 25px;
}

body {
  background: white;
}
a {
  text-decoration: none;
}
/*.btn_whatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.btn_whatsapp:hover {
  text-decoration: none;
  color: #0df053;
  background: white;
}
.btn_fb {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 57px;
  bottom: 30px;
  right: 100px;
  background: rgb(30, 48, 80);
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.btn_fb:hover {
  text-decoration: none;
  color: rgb(30, 48, 80);
  background: white;
} */
/*Header*/
.hero {
  width: 100%;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-bottom: 2px solid white;
  background-color: rgba(51, 16, 107, 1);
  background-image: linear-gradient(
    90deg,
    rgba(51, 16, 107, 1) 0%,
    rgba(50, 60, 130, 1) 20%,
    rgba(49, 107, 155, 1) 40%,
    rgba(48, 158, 182, 1) 60%,
    rgba(48, 205, 206, 1) 80%
  );
}
.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.hero_texto {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
.titulo_header h1 {
  font-size: 5rem;
}
.subtitulo_header h2 {
  font-size: 3rem;
}
.navegador ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}
.navegador li {
  transition: all 0.2s;
}
.navegador li:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
.navegador ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}
/*main*/
/*index*/
.cuerpo {
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
}
.box_index {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
  margin: 2rem 0;
  gap: 1rem;
}
.box_texto {
  width: 55rem;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1.2rem;
}
.box_texto h2 {
  text-align: center;
}
.box_texto p,
.box_texto h2,
.box_texto h3 {
  padding: 10px;
}
.box_img {
  width: 45rem;
  padding: 2rem;
  align-self: center;
}
.box_img img {
  width: 100%;
}

/* Estilos específicos */
/*pagina de contacto*/

.formulario-conteiner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.formulario {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.formulario h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.formulario input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.formulario input[type="submit"]:hover {
  background-color: #0056b3;
}

/*pag contacto*/
/* Estilos para la sección de contacto_info */
.contacto_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
}
.contacto_info ul {
  list-style: none;
  font-size: 1.2rem;
  padding: 0;
}
.contacto_info li {
  margin-bottom: 1rem;
}

/* Estilos para la sección de ubicacion */
.ubicacion {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}
.ubicacion h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.ubicacion iframe {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 400px;
}

/*pag nosotros*/

.gal-imag {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  padding: 50px 0;
}
.tit-gal {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px;
  transition: color 0.3s;
}
/* Estilos para el hover */
.tit-gal:hover {
  color: #0ec298;
}
.imag-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imag-grid:nth-child(1) {
  grid-column-start: span 2;
}
.imag-grid:nth-child(4) {
  grid-column-start: span 2;
}
/* Estilos para la sección historia */
.historia {
  background-color: #f0f0f0;
  width: 85%;
  margin: 0 auto;
  padding: 30px;
  text-align: center; /* Centrar el texto en dispositivos pequeños */
}
.historia p {
  font-size: 20px; /* Ajusta el tamaño de la fuente según tus preferencias */
  line-height: 1.7; /* Espaciado entre líneas para una mejor legibilidad */
  margin-bottom: 40px; /* Agrega espacio entre los párrafos */
  text-align: justify;
}
.tit_hist {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px; /* Agrega margen inferior al h2 */
  transition: color 0.3s; /* Transición de color para el hover */
}
/* Estilos para el hover */
.tit_hist:hover {
  color: #0ec298; /* Cambia el color al pasar el mouse por encima */
}
.contenedor-acordeon {
  width: 100%;
  max-width: 800px;
  margin: 80px auto auto;
  border-radius: 10%;
}
.contenedor-acordeon h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.acordeon {
  background: #fff;
}
.acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background: #0ec298;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}
.acordeon label:hover {
  background: #0fa365;
}
.acordeon .contenido-acordeon {
  padding: 0;
  margin: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0;
}
.btn-acordeon {
  display: none;
}

/*pag cartilla*/
.sectionCartilla {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
.sectionCartilla h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3.5rem;
  transition: all 0.2s;
}
.sectionCartilla h2:hover {
  color: rgb(109, 148, 185);
}
#conteItemsCartilla {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.itemCartilla {
  height: 100%;
  position: relative;
}
.tarjetaCartilla {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgb(81, 185, 211);
}
.infoDr {
  width: 60vw;
  text-align: justify;
}
.infoDr > h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.infoDr p {
  line-height: 1.7rem;
  margin-bottom: 15px;
  font-size: 1.3rem;
}
.imgDr img {
  width: 20vw;
}
.flechas a {
  color: white;
  font-size: 2rem;
}
.flechasCartilla {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.contePuntosCartilla {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
}
.contePuntosCartilla a {
  color: rgb(109, 109, 109);
}

/*pag servicios*/
.tit-serv {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px; /* Agrega margen inferior al h2 */
  transition: color 0.3s; /* Transición de color para el hover */
}
/* Estilos para el hover */
.tit-serv:hover {
  color: #0ec298; /* Cambia el color al pasar el mouse por encima */
}
.cuerpo-serv {
  display: flex;
  flex-flow: column wrap;
}
.intro-serv {
  width: 95%;
  margin-left: 1.2rem;
  display: inline-block;
  font-size: 20px; /* Ajusta el tamaño de la fuente según tus preferencias */
  line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
  margin-bottom: 20px; /* Agrega espacio entre los párrafos */
  text-align: justify;
}
.tit-h3-serv {
  color: #0ec298;
  padding-top: 20px;
  bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px; /* Agrega margen inferior al h2 */
  transition: color 0.3s; /* Transición de color para el hover */
}

/*footer*/
.pie-pagina {
  width: 100%;
  background-color: #f7f7f7;
  padding: 40px 0;
  color: #333;
  font-size: 1.3rem;
  border-top: 1px solid #69f2dd;
  margin-top: 40px;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5rem;
}
.columna {
  padding: 0 15px;
}
.columna h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.columna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.columna ul li {
  margin-bottom: 10px;
  font-size: 25px;
}
.columna ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: justify;
}
.columna p{
    margin-top: 15px;
    font-size: 25px;
}
.columna ul li a:hover {
  color: #1009e0;
}
.columna img {
  max-width: 70px;
}
.derechos {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #69f2dd;
  font-size: 1.5rem;
  color: #666;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*header*/
  .titulo_header h1{
    font-size: 4rem;
  }
  .subtitulo_header h2{
    font-size: 2rem ;
  }

  /*index*/
  .cuerpo{
    gap: 1.2rem;
  }
  .box_index {
    margin: 0;
  }
  .box_texto h2{
    font-size: 1.85rem;
  }
  .box_texto h3{
    font-size: 25px;
  }
  .box_texto p{
    font-size: 20px;
    line-height: 1.5;
  }
  .box_img{
    padding: 1rem;
  }

  /*nosotros*/
  .gal-imag {
    padding: 40px 5px 20px 5px;
  }
  .tit-gal {
    font-size: 1.85rem;
    align-self: center;
  }
  .historia{
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px;
  }
  .historia .tit_hist, .contenedor-acordeon .tit_hist{
    font-size: 1.7rem;
  }
  .historia p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  .contenedor-acordeon{
    margin: 0 auto;
  }
  .acordeon label {
    font-size: 19px;
  }
  .contenido-acordeon{
    font-size: 18px;
  }

  /*footer*/
  .contenedor{
    grid-gap: 3rem;
  }
  .columna h3{
    font-size: 20px;
  }
  .columna ul li, .columna p{
    font-size: 18px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /*header*/
  .titulo_header h1{
    font-size: 2.9rem;
  }
  .subtitulo_header h2{
    font-size: 1.7rem ;
  }
  .navegador ul{
    gap: 20px;
  }
  .navegador ul li a{
    font-size: 22px;
  }

  /*index*/
  .cuerpo{
    gap: 1rem;
  }
  .box_index {
    margin: 0;
  }
  .box_texto h2{
    font-size: 1.65rem;
  }
  .box_texto h3{
    font-size: 22px;
  }
  .box_texto p{
    font-size: 17px;
    line-height: 1.5;
  }
  .box_img{
    padding: 1rem;
  }

  /*nosotros*/
  .gal-imag {
    grid-template-rows: 200px;
    padding: 25px 0;
  }
   .tit-gal {
     font-size: 1.5rem;
     align-self: center;
  }
  .historia{
    margin: 0 20px;
    padding: 20px;
  }
  .historia .tit_hist, .contenedor-acordeon .tit_hist{
    font-size: 1.5rem;
  }
  .historia p{
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.5;
  }
  .contenedor-acordeon{
    margin-top: 40px;
  }
  .acordeon label {
    font-size: 18px;
  }
  .contenido-acordeon{
    font-size: 17px;
  }

  /*footer*/
  .contenedor{
    grid-gap: 3rem;
  }
  .columna{
    padding: 0 10px;
  }
  .columna h3{
    font-size: 18px;
  }
  .columna ul li, .columna p{
    font-size: 17px;
  }
  .derechos{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 345px) and (max-width: 480px) {
  /*boton*/
  .btn-mas label {
    font-size: 18px;
  }
  #btn-mas:checked ~ .btn-mas label {
    font-size: 20px;
  }
  .btn-mas label {
    width: 40px;
    height: 37px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(1, 64, 68, 0.214);
    transition: all 500ms ease;
  }
  #btn-mas:checked ~ .redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
  }

  /*header*/
  .titulo_header h1{
    font-size: 2rem;
  }
  .subtitulo_header h2{
    font-size: 1.1rem ;
  }
  .navegador ul{
    gap: 10px;
  }
  .navegador ul li a{
    font-size: 16.5px;
  }
  /*index*/
  .cuerpo{
    gap: 1rem;
  }
  .box_index {
    margin: 0;
  }
  .box_texto h2{
    font-size: 23px;
  }
  .box_texto h3{
    font-size: 20px;
  }
  .box_texto p{
    font-size: 16px;
    line-height: 1.5;
  }
  .box_img{
    padding: 1rem;
  }

  /*nosotros*/
  .gal-imag {
    grid-template-rows: 140px;
    grid-gap: 10px;
    padding: 20px 0;
  }
   .tit-gal {
     font-size: 23px;
     align-self: center;
  }
  .historia{
    margin: 0 20px;
    padding: 20px;
  }
  .historia .tit_hist, .contenedor-acordeon .tit_hist{
    font-size: 1.5rem;
  }
  .historia p{
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.5;
  }
  .contenedor-acordeon{
    margin-top: 40px;
  }
  .acordeon label {
    font-size: 18px;
  }
  .contenido-acordeon{
    font-size: 17px;
  }

  /*footer*/
.pie-pagina{
  margin-top: 20px;
  padding: 20px 0;
  }
  .contenedor{
    grid-gap: 1rem;
  }
  .columna{
    padding: 0 7px;
  }
  .columna h3{
    font-size: 17px;
  }
  .columna ul li, .columna p{
    font-size: 16px;
  }
  .derechos{
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 344px) {
  /*boton*/
  .btn-mas label {
    font-size: 18px;
  }
  #btn-mas:checked ~ .btn-mas label {
    font-size: 20px;
  }
  .btn-mas label {
    width: 40px;
    height: 37px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(1, 64, 68, 0.214);
    transition: all 500ms ease;
  }
  #btn-mas:checked ~ .redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
  }

  /*header*/
  .titulo_header h1{
    font-size: 1.8rem;
  }
  .subtitulo_header h2{
    font-size: 1.05rem ;
  }
  .navegador ul{
    gap: 10px;
  }
  .navegador ul li a{
    font-size: 16px;
  }
  /*index*/
  .cuerpo{
    gap: 1rem;
  }
  .box_index {
    margin: 0;
  }
  .box_texto h2{
    font-size: 23px;
  }
  .box_texto h3{
    font-size: 20px;
  }
  .box_texto p{
    font-size: 16px;
  }
  .box_img{
    padding: 1rem;
  }

  /*nosotros*/
  .gal-imag {
    grid-template-rows: 100px;
    grid-gap: 7px;
    padding: 20px 0;
  }
   .tit-gal {
     font-size: 20px;
     align-self: center;
  }
  .historia{
    margin: 0 10px;
    padding: 20px;
  }
  .historia .tit_hist, .contenedor-acordeon .tit_hist{
    font-size: 1.2rem;
  }
  .historia p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
  }
  .contenedor-acordeon{
    margin-top: 40px;
  }
  .acordeon label {
    font-size: 17.5px;
  }

  /*footer*/
  .pie-pagina{
    margin-top: 20px;
    padding: 20px 0;
  }
  .contenedor{
    grid-gap: 1rem;
  }
  .columna{
    padding: 0 7px;
  }
  .columna h3{
    font-size: 16.5px;
  }
  .columna ul li, .columna p{
    font-size: 16px;
    line-height: normal;
  }
  .derechos{
    font-size: 1rem;
  }
}